body{
	font-family: helvetica, arial, sans;
}

p, li{
	font-weight: normal;
	line-height: 1.5;
	font-size: 16px;
}

h3{
	font-weight: bold;
	font-size: 18px;
}

.date{
	font-style: italic;
}

.container{
	max-width: 700px;
	padding: 5%;
	margin: 0 auto;
}

.header, .post{
	border-bottom: 1px dashed #ccc;
	margin-bottom: 50px;
	padding-bottom: 30px;
}

li.done{
	text-decoration: line-through;
}
